@{
    ViewData["Title"] = "Home";
}

<div class='h-full flex items-center justify-between p-2'>
    <div
        class='h-full mr-2 flex-1 p-4 rounded-lg flex items-center justify-center bg-gradient-to-l from-spotify-green to-spotify-darkest-gradient'>
        <h1 class='text-5xl text-center font-medium'>MUSIC</h1>
    </div>
    <div class='h-full mr-2 flex-1 p-4 rounded-lg flex items-center justify-center bg-spotify-green'>
        <h1 class='text-5xl text-center font-medium'>SECOND BRAIN</h1>
    </div>
    <div
        class='h-full flex-1 p-4 rounded-lg flex items-center justify-center bg-gradient-to-r from-spotify-green to-spotify-darkest-gradient'>
        <h1 class='text-5xl text-center font-medium'>AND MORE</h1>
    </div>
</div>